doctype html

html
  head
    meta(charset="utf-8")

    title Torggran

    meta(name="description", content="Vi levererar torggranar för offentlig miljö")
    meta(name="keywords", content="Kungsgran, Julgran, Rödgran, Torggran, Gran")

    link(rel="stylesheet", href="style.css")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")

  body
    .first
      .container
        .row
          .span12
            img.masterlogo(src="assets/masterlogo.jpg")
        .row.jumbotron
          .span12
            img(src="assets/jumbotron.jpg")

        .row
          .span8
            .row
              .span4.quality
                h2 Leasa en riktig julgran

                p Det absolut smidigaste alternativet är att leasa en julgran. Vi tar hand om leverans, uppställning och bortforsling. Perfekt till kontoret, företaget eller gallerian.
                
                h2 Här står vi i december

                p Lager och försäljning under västerbron vid Rålambshovsparken.
                  | Här finns vi under december månad fram till jul. Vi har allt från bordsgranar till större granar. Vi kommer öppna för allmänheten från kl 14:00-18:00. alla dagar.
                  | Vi tar kort. Välkommna.

                a.hidden-phone(href="http://kartor.eniro.se/m/nMbq3")
                  img(src="assets/map.jpg").map

              .span4.hidden-phone
                h2 Leveranser från vecka 45!
                p Från vecka 45 börjar vi leverera granar för torg, gallerior, företag och bemanningsfirmor. Se till att lägga er beställning i god tid för att säkerställa en smidig leverans.

              .span4.hidden-phone
                h2 Julgranar i parti
                p Kungsgranar och Rödgranar för avhämtning på vårat lager. Transport går att ordna vid behov.
                p Klass A och klass B. Storlekar: 1,75-2,25m, 2,25-2,5m samt 2,5-3m.

                a.btn.btn-large.btn-info#showproducts(href="http://order.marob.se/request-order/start/dfg7586ghf/452fg6h345") Våra produkter

          .span4
            .row
              .span4
                h2 Fri frakt
                p När ni beställer genom oss så får ni alltid fri frakt på granarna. Julgranarna kommer leveras på avtalad plats utan extra kostnader. Alla granar under 10m levereras nätade vilket också garanterar er den bästa kvalitén på er julgran.

              .span4
                h2#contact-us Kontakta oss

                p Om du vill diskutera kring våra granar, lägga en beställning eller om du har några frågor så är du mer än välkommen att kontakta oss! Du kan nå oss på telefon under kontorstid, eller genom epost.

                span#shake
                  h4 08-723 1000 (mån-fre, 08:00 - 20:00)
                  h4 
                    a#order-link(href="mailto:info@torggran.se") info@torggran.se           

    .second.hidden-phone
      .upper
        .container
          .row
            .span12
              h1 I de djupaste skogarna hittar man de finaste julgranarna
      .lower
        .container
          .row
            .span3.offset1
              h2 Det tar tid att få fram de vackraste granarna

              p Genom årtionden av skogsskötsel har vi lärt oss hur man får fram de vackraste granarna. Avverkning får inte ske förens granen är riktigt ståtlig. En stor torggran kan vara hela 50-60 år gammal!

            .span8.macrotree.photo
              img(src="assets/macrotree.jpg")
          .row
            .span8.kungsgran.photo
              img(src="assets/kungsgran.jpg")
            .span3
              h2 Klassisk rödgran eller lyxig kungsgran?

              p Vi arbetar med den klassiska rödgranen och den lyxiga kungsgranen. Rödgranen är väldoftande med vassa barr. Passar bra för utomhusbruk. Kungsgranen är mjuk och och barrar mindre, passar utmärkt för att placeras i köpcentrum och gallerior.
    .third.hidden-phone
      .upper
        .container
          .row
            .span12
              h1 Med en passion för perfektionism tar vi hand om er blivande gran i ur och skur 
      .lower
        .container
          .row.gunnar
            .span4.offset1
              h2 Håkan pysslar om er blivande gran - år efter år!

              p Håkan är väldigt speciell för oss. I storm och snö, i regn och rusk. Alltid är Håkan där för de små liven. Från barnsben tills att plantorna blir stora, ståtliga och vuxna granar. Allt med en passion för att få de finaste granarna att växa. Tack för din insats, Håkan!
            .span7.photo
                img(src="assets/gunnar.jpg")
          .row.truck
            .span7.photo
              img(src="assets/truck.jpg")
            .span4
              h2 Torggranar

              p Vi levererar era granar hela vägen fram, direkt från huggning.  Alla granar under 10m levereras nätade till avtalad plats. På så sätt kan vi garantera er de finaste granarna. Detta garanterar er de bästa och finaste granarna med minimalt krångel. Vi levererar till kommuner, föreningar och bemanningsfirmor. Vid större beställningar, begär en offert.
          .row.gunnar
            .span4.offset1
              h2 Leasa en riktig julgran!
              p Det absolut smidigaste alternativet är att leasa en julgran. Vi tar hand om leverans, uppställning och bortforsling. Perfekt till kontoret, företaget eller gallerian.
            .span7.photo
                img(src="assets/postgran.jpg")

    .fourth
      .container
        .row
          .span4.enlighten
            h2 De finaste granarna

            p När ni bestämt er för att beställa en julgran från oss kan ni göra det antingen genom att beställa via vår webbshop eller ringa oss på <b>08-723 1000</b>.
              
            h3 Våra granar

            p Vi levererar endast de största och finaste Kungs- och rödgranarna.

            a.btn.btn-info.hidden-phone#price(href="#pricelist", role="button", data-toggle="modal") Se vår prislista
            a.btn.btn-info.visible-phone#price(href="assets/prislista2012.pdf") Se vår prislista

            h2 Nyhetsbrev

            form#mc.validate(action='http://torggran.us6.list-manage1.com/subscribe/post?u=0885db5ce997c433a585841b5&amp;id=c896f90186', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
              label(for='mc-email') Prenumerera på vårt nyhetsbrev för de senaste erbjudandena.
              input#mc-email.email(type='email', value='', name='EMAIL', placeholder='E-mail', required='required')
              input.btn(type='submit', value='Prenumerera', name='subscribe')
          .span4
            h2 Boka er gran redan idag!
            p
              a.btn.btn-large.btn-info#showproducts(href="http://order.marob.se/request-order/start/dfg7586ghf/452fg6h345") Våra produkter

    .fifth
      .container.clearfix
        img(src='assets/logo.png')

        .right
          p Torggran
          p info@torggran.se
          p 08-723 1000

    .modal.megamodal.hide.fade#pricelist
      .modal-header(aria-hidden="true")
        button(type='button', class="close", data-dismiss="modal", aria-hidden="true") x
        h2 Prislista
      .modal-body

        .row
          .span3
            h3 Leasing
            p När ni leasar en gran ingår kungsgran klass 1 (1,75-2,25 meter), transport, granfot uppställning samt borttransport. Pris 2200:-
            p Extra stor: Här ingår kungsgran klass 1 (2,5-3 meter), transport, extra stor granfot, uppställning samt borttransport. Pris 2800:-
            p Vid större granar för leasing, vänligen lämna en förfrågan.
          .span3
            h3 Transport
            p Alltid fri leverans i stockholmsområdet!

        .row
          .span3
            h3 Rödgran
            p Picea Abies. Naturvuxen. 
            table.table.table-striped.table-condensed.table-hover
              thead
                tr
                  th Höjd
                  th Pris
              tbody
                tr
                  td 1,5-2,5
                  td 545:-
                tr
                  td 3
                  td 995:-
                tr
                  td 4-5
                  td 1895:-
                tr
                  td 6
                  td 2995:-
                tr
                  td 7-8
                  td 3795:-
                tr
                  td 9
                  td 4995:-
                tr
                  td 10
                  td 7495:-
                tr
                  td 11
                  td 9495:-
                tr
                  td 12-13
                  td 12995:-

          .span3
            h3 Rödgran
            p Formklippt Luxus 
            table.table.table-striped.table-condensed.table-hover
              thead
                tr
                  th Höjd
                  th Pris
              tbody
                tr
                  td 1,5-2,5
                  td 645:-
                tr
                  td 3
                  td 1195:-
                tr
                  td 4-5
                  td 2195:-
                tr
                  td 6
                  td 3495:-
                tr
                  td 7-8
                  td 4495:-
                tr
                  td 9
                  td 5495:-
                tr
                  td 10
                  td 8495:-

          .span3
            h3 Kungsgran
            p Abies Nordmanniana. Klass A.
            table.table.table-striped.table-condensed.table-hover
              thead
                tr
                  th Höjd
                  th Pris
              tbody
                tr
                  td 1,5-2,5
                  td 895:-
                tr
                  td 3
                  td 1995:-
                tr
                  td 4
                  td 2495:-
                 tr
                  td 5
                  td 2995:-
                tr
                  td 6
                  td 4495:-
        .row
          .span3
            p Alla priser exklusive moms.

    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(type="text/javascript", src="assets/bootstrap.min.js")
    //- script(type="text/javascript")
    //-   !{script}